.thumbnail img{
	width: 100%;
}

.thumbnail{
	padding: 0;
}

#delete-form{
	display: inline;
}

#del-comment{
	display: inline;
}

#del-button{
	background-color: Transparent;
}

#more_info{
	margin-bottom: 10px;
}

.edit{
	padding-left: 8px;
	color: blue;
}

.trash{
	color:red;
}